<footer>
    <div class="container-fuild bg-light">
      <div class="row">
        <div class="col-4 py-3" style="text-align:center;">
          <h4 class="text" style="color:#08588c;">About us</h4>
          <p class="py-3">Just work for deadline :((</p>
        </div>
        <div class="col-5 py-3 ">
          <h4 class="text" style="color:#08588c;">Join us to get more discount</h4>
          <div class="form-inline py-3">
            <form  id="registedMail">
              <input type="email" class="form-control" id="email" placeholder="Enter your email address" name="email" style="height:50px;">
              <input class="btn btn-primary" type="submit" id="btn-submit" value="Join now" style="height:50px; font-size:20px;background-color:#009ddc;">
            </form>
            
          </div>
        </div>
        <div class="col-3 py-3 ">
          <h4 class="text" style="color:#08588c;">Follow us</h4>
          <div class="py-3">
            <a href="https://www.facebook.com/" title="Facebook" target="_blank">
              <img src="/image/face1.png" alt="AA">
            </a>
            <span style="padding-left:10px;"></span>
            <a href="https://www.mail.google.com/" title="Mail" target="_blank">
              <img src="/image/mail1.png" alt="AA">

            </a>
            <span style="padding-left:10px;"></span>
            <a href="https://www.youtube.com/" title="Youtube" target="_blank">
              <img src="/image/youtube1.png" alt="AA">
            </a>
          </div>
        </div>
      </div>
  </div>
  <p style="text-align:center; margin-top:10px;">Copyright © 2018 Team bán đồ sida</p>
</footer>

